<p>Hello <%= @user.full_name %>,</p>

<p>Bienvenu sur la plateforme Common Point</p>

<p>See ya!</p>



<%= link_to edit_user_url(@user) do %>
  <p style="margin:0">Accéder à mon compte</p>
<% end %>
