#pills-home {
  .row {
    margin: 0;
  }
}

.point-calendar {
  img {
    height: 20px;
  }
}
.invited-bloc {
  // height: 20px;
  width: 120px;
}
.green-color-border {
  border: 1px solid $green;
}
.red-color-border {
  border: 1px solid $red ;
}
.green-background {
  background: $green;
}
.blue-background {
  background: $blue-middle;
}
.red-background {
  background: $red !important;
}
.orange-background {
  background: $orange;
}
.radius-points-calendar {
  border-radius: 2px
}
.contain-image {
  width: 30px;
  height: 30px

}
#v-pills-tab {
  background-color: $cp;
  opacity: 0.3;
  color: white;
}


.max-height {
  max-height: 400px !important;
}

.participants-fields {
  cursor: pointer;
}
.icon-input{
  flex: 10%;
  text-align: center;
  color: $light-gray;
}
.bouton-participant {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 3px;

  h3 {
    margin-top: 20px;
  }
}
  .bouton-participant:hover {
    opacity: .3;
  }
#v-pills-tabContent {
  hr {
    margin: 0;
    z-index:1;
  }
}

.examples {
  display: grid;
  margin-left: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  p {
    margin: 0;
  }
  .example{
    justify-self: center;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .invited-bloc {
    box-shadow: 1px 1px 3px #E7E5E5;
  }
}

.new-point {
  position: absolute;
  top: -17px;
  left: 10%;
  padding-left: 10px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
  background-color: #193039ba;
  color: $white;
  border: 2px solid $white;
}


#grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  .items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .item-participants {
    align-items: center;
  }
  i {
    font-size: 40px;
    padding-right: 5px;
  }
  img {
    padding-right: 5px;
    height: 40px;
  }
  p {
    margin: 0;
    text-align: center;
  }
}
#participations {
  p {
    margin: 0;
  }
}
.simple-calendar {
.calendar-heading {
  text-align: center;
  span {
    font-weight: 600;
    margin-right: 30px;
    margin-left: 30px;
  }
  a {
    color: $cp;
    text-decoration: none;
  }
}
  // .past {
  //   .relative-position {
  //     background-color: #19303987;
  //   }
  // }
  .full-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }
  .relative-position {
    position: relative;
    height: 100%;
  }
}

#user_activity-search_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  form {
    display: flex;
    align-items: center;
  }
  .form-space {
    width: 40%
  }
  select {
  margin-right: 17px;
  }
}

@media(max-width: 720px) {
  #user_activity-search_bar .form-space {
    width: 100%
  }
}
