// user
.horizontale-scrolling {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .activity-card {
    display: inline-block;
    width: 146px;
    margin: 3px;
  }
  .activity-card:hover {
    box-shadow: unset;
    cursor: unset;
  }
}


#picture-space {
  border-radius: 50%;
  background-color: white;
  height: 130px;
  width: 130px;
  padding-top: 17%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 1px 4px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 10px -2px rgba(0,0,0,0.75);
  p {
    font-size: 10px;
    margin: 0;
  }
  i {
    margin-top: 10px;
  }
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
  }
}

.left-edit {
  align-items: center;
    display: flex;
    padding-left: 10%;
    background-color: $orange;

}

// evenement
#container-grid {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: 1fr 1fr 70px;
  height: calc(100vh - 100px);
  .informations {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .localisation {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
  }
  .participant-grid {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .btn-save {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }
}

@media(max-width: 720px) {
  #container-grid, #formulaire  {
    height: 100%;
    display: block !important;
    .localisation {
      height: 340px;
    }
  }
  #formulaire {
    .form-group {
      padding: 1%;
    }
  }
}
// formulaire

#formulaire {
  // height: calc(100% - 28px);
  width: 100%;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 90px 1fr;
}
#info {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#uprigth-grid {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
#dates {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}

.space-arround {
  display: flex;
  justify-content: space-around;

}
.set-materiel {
  // height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#gridParticipantModal {
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 50px 1fr;
  padding: 2%;
  // height: calc(100vh - 20%);
  .left-modal-participants {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .middle-modal-participants {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .right-modal-participants {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  #participantsToCreate {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .title-middle {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .title-right {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  .middle-modal-participants, .right-modal-participants {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
  }
}
.userToRemove, .userToAdd, .tabLevel {
  height: 50px;
}
@media(max-width: 720px) {
  #gridParticipantModal  {
    display: block;
  }
  .left-modal-participants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
