// Specific CSS for your home-page
#main-container {
  min-height: calc(100vh - 70px);
  width: 70%;
  margin: auto;
  padding: 1% 0;
  // background: #d6d1d1;
}

@media(max-width: 720px) {
  #main-container {
   width: 100%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1100px) {
  #main-container {
   width: 95%;
  }
}


.background-white {
  background-color: $white;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
}

.title-onglet {
  background-color: $cp;
  color: $white;
  display: inline;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 3px 8px 2px 8px;
}
