<div class="stars">
  <% for i in 1.. level %>
    <i class="fa fa-star blue" aria-hidden="true"></i>
  <% end %>
  <% for i in 1..(5- level) %>
    <i class="far fa-star blue" aria-hidden="true"></i>
  <% end %>
</div>
