<h1>Bonjour <%= @user.prenom %></h1>

<p>Vous venez d’être invité à un
nouvel événement.</p>


<p> <%= "#{@evenement.user.full_name} vous invite à son évènement
 #{@evenement.activity_title}.
Détail événement : status: #{@evenement.type_of_evenement} date: #{@evenement.day_month_hour} et lieu: #{@evenement.adresse} " %>

</p>


<%= link_to evenement_url(@evenement) do %>
  <p style="margin:0">Accéder à l'évenement</p>
<% end %>
