<h1>Bonjour <%= @user.prenom %></h1>

<p>Vous venez d’être invité à un
nouvel événement.</p>


<p> <%= "#{@evenement.user.full_name} vous invite à son évènement
 #{@evenement.activity_title}.
Détail événement : status: #{@evenement.type_of_evenement} date: #{@evenement.jour} #{@evenement.heur} et lieu: #{@evenement.adresse} " %>


TODO
Je participe / Je participe pas

</p>
