<% @months.each do |num| %>
  <% month_next = @now + num.month  %>
  <% if @months.first < @months.second %>
    <% month_now = @now + (num - 1).month  %>
    <% if month_now == @today.strftime("%B") %>
      <% evenements = evenements.where('jour between ? and ?', @today, month_next) %>
    <% else %>
      <% evenements = evenements.where('jour between ? and ?', month_now, month_next) %>
    <% end %>
  <% else %>
    <% month_now = @now + (num + 1).month  %>
    <% if month_now == @today.strftime("%B") %>
      <% evenements = evenements.where('jour between ? and ?', month_next, @today) %>
    <% else %>
      <% evenements = evenements.where('jour between ? and ?', month_next, month_now) %>
    <% end %>
  <% end %>


  <% if evenements.count > 0 %>
    <div class="month-point">
      <h3><%= month_now.strftime("%B").upcase %></h3>
    </div>
    <% evenements.each do |evenement| %>
      <div class="point-list">
        <h3 class="color-background-date"><%= evenement.day_month_hour %> / <i class="fas fa-search"></i> <%= link_to 'Voir le evenement', evenement_path(evenement) %> </h3>
        <%= render 'evenements/info-evenement', evenement: evenement %>
      </div>
    <% end %>
  <% end %>
<% end %>
