<div id='drop_<%= evenement.id %>' class="modal " style="background-color: #8080808a">
  <div class="modal-content col-sm-8 col-xs-12"  style="padding: 10px">
    <a class="close cross abs-right-top" id="close_drop_<%= evenement.id%>">+</a>
    <%= render 'evenements/info-evenement', evenement: evenement %>
  </div>
</div>

