<div class="background-white" style="height: 91%">
  <div id="prive-show">
    <div class="avatars">
      <% @users.each do |user| %>
        <div class="userEdit hidden" id="user_edit_<%= user[:user_id] %>">
          <% set_user = User.find(user[:user_id]) %>
          <div>
            <%= render 'shared/avatar', user: set_user  %>
          </div>
        </div>
      <% end %>
    </div>
      <!-- <p id="totalInvite"></p> -->
    <!-- </div> -->
    <button type="button" class="btn btn-start-order" data-toggle="modal" data-target="#listParticipantModal">
      Ajouter
    </button>
  </div>
  <div id="publique-show">
    <p>Cet événement est publique, tout le monde pourra y participer soit : <%= @users.count %> potentiel participants</p>
  </div>
</div>
